<style type="text/css">
.well {
    background: none;
    height: 320px;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 310px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}
</style>
<fieldset class="col-sm-12 bordure">
    <legend class="legende">{{ 'PaymentSchedule' | translate }}</legend>

    <div ng-include src="'partials/message-include.html'"></div>

    <div class="col-xs-12 well">
    <table class="table table-striped table-scroll">
        <thead>
            <tr>
                <th ng-click="getSortData('accountId')">{{ 'paymentSchedule.accountId' | translate }}
                    <div ng-class="getSortClass('accountId')"></div></th>

                <th ng-click="getSortData('dateLastPayment')">{{ 'paymentSchedule.dateLastPayment' | translate }}
                    <div ng-class="getSortClass('dateLastPayment')"></div></th>

                <th ng-click="getSortData('nextPaymentDue')">{{ 'paymentSchedule.nextPaymentDue' | translate }}
                    <div ng-class="getSortClass('nextPaymentDue')"></div></th>

                <th ng-click="getSortData('balanceDue')">{{ 'paymentSchedule.balanceDue' | translate }}
                    <div ng-class="getSortClass('balanceDue')"></div></th>

                <th  ng-click="getSortData('autoPayment')">{{ 'paymentSchedule.autoPayment' | translate }}</th>
                <th><a class="btn btn-info" href='#/paymentSchedule/new'>{{ 'create' | translate }}</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="paymentSchedule in paymentSchedules | orderBy:sortColumn:reverseSort">
                <td>{{paymentSchedule.accountName}}</td>
                <td>{{paymentSchedule.dateLastPayment| date:'shortDate'}}</td>
                <td>{{paymentSchedule.nextPaymentDue| date:'shortDate'}}</td>
                <td>{{paymentSchedule.balanceDue| number }}</td>
                <td>{{paymentSchedule.autoPayment  == 1 ? 'Y' : 'N'}}</td>
                <td>
                	<a class="btn btn-info" href="#/paymentSchedule/{{paymentSchedule.id}}">{{ 'edit' | translate }}</a>
                	<a class="btn btn-info" href="" ng-click="updateLastPayment(paymentSchedule.id)">{{ 'markAsPaid' | translate }}</a>
                	<a class="btn btn-info" href="" ng-click="modifyAccount(paymentSchedule.id,paymentSchedule.accountId)">Quick Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</fieldset>
