<fieldset class="col-sm-12 bordure">
    <legend class="legende">{{ 'PaymentSchedule' | translate }}</legend>

    <div ng-include src="'partials/message-include.html'"></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-click="getSortData('accountId')">{{ 'paymentSchedule.accountId' | translate }} 
                    <div ng-class="getSortClass('accountId')"></div></th>
                
                <th ng-click="getSortData('dateLastPayment')">{{ 'paymentSchedule.dateLastPayment' | translate }}
                    <div ng-class="getSortClass('dateLastPayment')"></div></th>
                
                <th ng-click="getSortData('nextPaymentDue')">{{ 'paymentSchedule.nextPaymentDue' | translate }}
                    <div ng-class="getSortClass('nextPaymentDue')"></div></th>
                
                <th ng-click="getSortData('balanceDue')">{{ 'paymentSchedule.balanceDue' | translate }}
                    <div ng-class="getSortClass('balanceDue')"></div></th>
                    
                <th  ng-click="getSortData('autoPayment')">{{ 'paymentSchedule.autoPayment' | translate }}</th>
                <th><a class="btn btn-info" href='#/paymentSchedule/new'>{{ 'create' | translate }}</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="paymentSchedule in paymentSchedules | orderBy:sortColumn:reverseSort">
                <td>
                    <select id="paymentSchedule_accountId" ng-model="paymentSchedule.accountId" name="accountId" class="form-control" disabled="true">
                        <option value=""></option>
                        <option ng-repeat="account in items.accounts" title="{{account.label}}" ng-selected="{{account.value == paymentSchedule.accountId}}" value="{{account.value}}">{{account.label}}</option>
                    </select>
                </td>
                <td>{{paymentSchedule.dateLastPayment| date:'shortDate'}}</td>
                <td>{{paymentSchedule.nextPaymentDue| date:'shortDate'}}</td>
                <td>{{paymentSchedule.balanceDue| number }}</td>
                <td>{{paymentSchedule.autoPayment  == 1 ? 'Y' : 'N'}}</td>
                <td><a class="btn btn-info" href="#/paymentSchedule/{{paymentSchedule.id}}">{{ 'edit' | translate }}</a></td>
            </tr>
        </tbody>
    </table>
</fieldset>
