		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'PaymentSchedule' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						 
						<th>{{ 'paymentSchedule.nextPaymentDue' | translate }}</th>
						<th>{{ 'paymentSchedule.balanceDue' | translate }}</th>
						<th>{{ 'paymentSchedule.autoPayment' | translate }}</th>
						<th><a class="btn btn-info" href='#/paymentSchedule/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="paymentSchedule in paymentSchedules">
					 
						<td>{{paymentSchedule.nextPaymentDue | date:'shortDate'}}</td>
						<td>{{paymentSchedule.balanceDue | number }}</td>
						<td>{{paymentSchedule.autoPayment}}</td>
						<td><a class="btn btn-info" href="#/paymentSchedule/{{paymentSchedule.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
