
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/account">{{ 'Account' | translate }}</a></li>
        <li><a href="#/accountAddress">{{ 'AccountAddress' | translate }}</a></li>
        <li><a href="#/accountType">{{ 'AccountType' | translate }}</a></li>
        <li><a href="#/addressType">{{ 'AddressType' | translate }}</a></li>
        <li><a href="#/paymentSchedule">{{ 'PaymentSchedule' | translate }}</a></li>

        <li><a href="#/scheduleHistories">{{ 'ScheduleHistory' | translate }}</a></li>
    </ul>
