		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Account' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						 
						<th>{{ 'account.accountName' | translate }}</th>
						<th>{{ 'account.originalBalance' | translate }}</th>
						<th>{{ 'account.currentBalance' | translate }}</th>
						<th>{{ 'account.dateOpened' | translate }}</th>
						<th>{{ 'account.dateClosed' | translate }}</th>
						<th>{{ 'account.dateCreated' | translate }}</th>
						<th>{{ 'account.dateModified' | translate }}</th>
						<th><a class="btn btn-info" href='#/account/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="account in accounts">
						 
						<td>{{account.accountName}}</td>
						<td>{{account.originalBalance | number }}</td>
						<td>{{account.currentBalance | number }}</td>
						<td>{{account.dateOpened | date:'shortDate'}}</td>
						<td>{{account.dateClosed | date:'shortDate'}}</td>
						<td>{{account.dateCreated | date:'shortDate'}}</td>
						<td>{{account.dateModified | date:'shortDate'}}</td>
						<td><a class="btn btn-info" href="#/account/{{account.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
