		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'PaymentHistory' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						 
						<th>{{ 'paymentHistory.amountPaid' | translate }}</th>
						<th>{{ 'paymentHistory.datePaid' | translate }}</th>
						<th>{{ 'paymentHistory.dateModified' | translate }}</th>
						<th>{{ 'paymentHistory.dateCreated' | translate }}</th>
						<th><a class="btn btn-info" href='#/paymentHistory/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="paymentHistory in paymentHistorys">
						 
						<td>{{paymentHistory.amountPaid | number }}</td>
						<td>{{paymentHistory.datePaid | date:'shortDate'}}</td>
						<td>{{paymentHistory.dateModified | date:'shortDate'}}</td>
						<td>{{paymentHistory.dateCreated | date:'shortDate'}}</td>
						<td><a class="btn btn-info" href="#/paymentHistory/{{paymentHistory.idpaymentHistory}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
