		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'UserAccount' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						 
						<th>{{ 'userAccount.userName' | translate }}</th>
						<th>{{ 'userAccount.emailAddress' | translate }}</th>
						<th>{{ 'userAccount.password' | translate }}</th>
						<th>{{ 'userAccount.firstName' | translate }}</th>
						<th>{{ 'userAccount.lastName' | translate }}</th>
						<th><a class="btn btn-info" href='#/userAccount/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="userAccount in userAccounts">
						 
						<td>{{userAccount.userName}}</td>
						<td>{{userAccount.emailAddress}}</td>
						<td>{{userAccount.password}}</td>
						<td>{{userAccount.firstName}}</td>
						<td>{{userAccount.lastName}}</td>
						<td><a class="btn btn-info" href="#/userAccount/{{userAccount.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
